.flex-1 {
  flex: 1;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
}

.q-btn.manually-disabled .q-focus-helper {
  opacity: 0 !important;
}

// To prevent FOUC
body.body--dark .q-card {
  background-color: var(--q-dark);
}

.truncate-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
